// Import color palette.
@import '../palette.scss';

nav {
    background-color: var(--dblue);
}

.header-logo {
    width: 70px;
}

.profile-btn {
    background-color: var(--dblue);
}

.profile-get-vip-opt:hover {
    color: var(--vip);
}

.profile-settings-opt:hover {
    color: $primary;
}

.profile-logout-opt:hover {
    color: $danger;
}
