// Import bootstrap.
@import '../../../node_modules/bootstrap/scss/bootstrap.scss';

// Define our own custom styles.
@import './helper.scss';

// Import IcoFont.
@import '../css/icofont.min.css';

// Import components.
@import './components/header.scss';

// Import utilities.
@import './utils/scrollbar.scss';

// Import color palette.
@import './palette.scss';

html, body {
    margin: 0;
    padding: 0;

    width: 100%;
    height: 100%;

    background-color: var(--ddblue);
}

// Icofont icons should have a bit of padding besides them.
.icofont {
    margin-right: 0.25rem;
}

// Default card color.
.card {
    background-color: var(--card);
}

// Links should not be underlined.
a {
    text-decoration: none;
}
