// Color palette.
:root {
    // UI colors.
	--dddblue: #0E355E;
    --ddblue: #17508A;
	--dblue: #13579C;
	--blue: #5B96F5;
	--lblue: #74A3ED;
	--llblue: #9ABDF5;
	--mobile-tab: #00BCF2;

    // VIP color.
    --vip: #F57EB6;

    // Card color.
    --card: #B1CBE6;

    // Miscellaneous colors.
	--streamer-online: #FF3B3B;
	--streamer-offline: #AAAAAA;
}
